__pycache__
.~*.*
*.*~
*.egg-info
*.log
*.pot
*.pyc
*.py~
*.sublime-project
*.sublime-workspace
/data/*
!/data/.gitkeep
!/media/.gitkeep
/scripts
/tmp
.coverage
/.idea
/.vscode
/src/htmlcov
/src/celerybeat-schedule*
/.env*
/restart_project.sh
/upgrade_project.sh
/ngrok
.DS_Store
