{
    # Access logging in JSON format for fail2ban
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

{$SITE_DOMAIN} {
    @docs path /api/schema/* /api/docs/* /api/redoc/*
    handle @docs {
        basic_auth {
            {$CADDY_USER:admin} {$CADDY_PASSWORD}
        }
        reverse_proxy django:8000
    }

    @api path /api/* /superadmin/*
    handle @api {
        reverse_proxy django:8000
    }

    # Serve Django static files
    handle /static/* {
        root * /static
        file_server
    }

    # Serve media files
    handle /media/* {
        root * /media
        file_server
    }

    reverse_proxy /flower/* flower:5555
    reverse_proxy /* django:8000
}

# www.{$SITE_DOMAIN} {
#    redir https://{$SITE_DOMAIN}{uri}
# }
