django==4.2.*
docutils
celery
celery-redbeat
channels
channels-redis
cffi
django-anymail
django-debug-toolbar
django-extensions
django-bootstrap-datepicker-plus
django-webpack-loader
djangorestframework
djangorestframework-simplejwt
freezegun
gunicorn
markdown
markdown-urlize
pillow
psycopg2
pyOpenSSL
pyparsing
python-decouple
python-jose
pydot
redis
requests
sentry-sdk
shortuuid
social-auth-app-django
uvicorn[standard]
watchgod
werkzeug
whitenoise
